.bigger-pt{font-size:15pt;}
.biggest-pt{font-size:20pt;}
.bigger-em{font-size:1.5em;}
.biggest-em{font-size:2em;}
.bigger-per{font-size:150%;}
.biggest-per{font-size:200%;}
.bigger-px{font-size:15px;}
.biggest-px{font-size:20px;}
.bordered{border:solid 1px black;}

